.App {
  text-align: left;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(210, 210, 210);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.805);
  font-weight: bold;
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: left;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.article{
  margin-bottom: 15px;
  line-height: 1.6;
}

.match-count {
  font-size: 16px;
  color: #555;
  font-style: italic;
  margin-bottom: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
